body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Gabarito';
}
@font-face {
  font-family: Gabarito;
  src: url(./Fonts/Gabarito-VariableFont_wght.ttf);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Styles for Loader */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader::after {
  content: "";
  width: 40px;
  height: 40px;
  border: 5px solid #ddd;
  border-top-color: #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Styles for Search Input */
.search-input {
  width: 70%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Styles for Search Button */
.search-button {
  background-color: #333;
  color: #fff;
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #555;
}

/* Styles for Suggestions */
.suggestions {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  background-color: #fff;
}

.suggestions li {
  padding: 12px;
  cursor: pointer;
}

.suggestions li:hover {
  background-color: #eee;
}

/* Styles for Developer List */
/* DeveloperList.css */
/* DeveloperList.css */
/* DeveloperList.css */
.developer-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Default to one column */
  gap: 16px;
  justify-content: center;
  padding: 16px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.developer-list-exit {
  opacity: 0;
}

@media (min-width: 768px) {
  .developer-list {
    grid-template-columns: repeat(2, 1fr); /* Two columns for medium screens */
  }
}

@media (min-width: 1024px) {
  .developer-list {
    grid-template-columns: repeat(2, 1fr); /* Two columns for large screens */
  }
}

@media (min-width: 1280px) {
  .developer-list {
    grid-template-columns: repeat(2, 1fr); /* Two columns for extra-large screens */
  }
}

/* Pagination styles */
.pagination button {
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  cursor: pointer;
}

.pagination .active {
  background-color: #007bff;
  color: white;
}

.pagination .inactive {
  background-color: #f0f0f0;
  color: black;
}




/* Styles for Developer Profile */
.developer-profile {
  background-color: #333;
  color: #fff;
  padding: 32px;
  border-radius: 8px;
}

.developer-profile img {
  border-radius: 50%;
  margin-right: 16px;
}

.developer-profile .info {
  margin-bottom: 24px;
}

.developer-profile .info div {
  margin-bottom: 8px;
}

.developer-profile .info div p {
  margin: 0;
}



